.app-call-to-action .content { width:90%; background-color:#FFFFCC; border:1px solid #CC9900; padding:8px; text-align:center; }
.app-call-to-action .content .big {font-size:130%;}
.app-call-to-action .content .small {font-size:80%;}
.app-call-to-action .content p {margin:0px;}